assets/my_images/other_sensors/*/*.ply
assets/my_images/other_sensors/*/*.png
!assets/my_images/other_sensors/*/000000_*.ply
!assets/my_images/other_sensors/*/000000_*.png
server/*
!server/README.md
datasets/*
!datasets/README.md
**/__pycache__/
scripts/*.out
private/*.enc
.cz-config.js
certs/*.pem
main_ui.py
logs/*.pdf
.vscode/
.husky/
.temp/
*.tar
