images/my_images/other_sensors/*/*.ply
images/my_images/other_sensors/*/*.png
!images/my_images/other_sensors/*/000000_*.ply
!images/my_images/other_sensors/*/000000_*.png
**/__pycache__/
resources_rc.py
scripts/*.out
private/*.enc
# logs/*.txt
certs/*.pem
main_ui.py
logs/*.pdf
.vscode/
setup.py
