images/my_images/sem_seg/output/videos/video.mp4
!images/my_images/other_sensors/*/000000_*.ply
!images/my_images/other_sensors/*/000000_*.png
images/my_images/other_sensors/*/*.ply
images/my_images/other_sensors/*/*.png
**/__pycache__/
scripts/*.out
private/*.enc
.cz-config.js
certs/*.pem
main_ui.py
logs/*.pdf
.vscode/
setup.py
